label.a6y-react-auth__label {
  display: flex;
  flex-direction: column;
  font-weight: 600;
  text-transform: capitalize;
}

label.a6y-react-auth__label input.a6y-react-auth__label__input {
  border: 1px solid rgba(229, 231, 235, 0.6);
  border-radius: 4px;
  margin: 5px 0;
  padding: 5px 10px;
  min-height: 20px;
  max-width: 300px;
}

label.a6y-react-auth__label input.a6y-react-auth__label__input::placeholder {
  color: #dbe5ec;
}

label.a6y-react-auth__label input.a6y-react-auth__label__input:hover {
  border: 1px solid rgba(229, 231, 235, 1);
}