button {
  min-height: 30px;
  padding: 5px 20px;
  border: 1px solid white;
  border-radius: 30px;
  text-transform: uppercase;
  cursor: pointer;
}

button:hover {
  opacity: .7;
}

button.primary {
  background-color: #2f5ef7;
  color: white;
}

button.primary:hover {
  background-color: #1f3a92;
  opacity: 1;
}

button.secondary {
  border-color: #2f5ef7;
  background-color: white;
  color: #2f5ef7;
}

button.secondary:hover {
  border-color: #1f3a92;
  opacity: 1;
  color: #1f3a92;
}