a.primary {
  color: #2f5ef7;
}
a.secondary {
  color: #172232;
}
a.underline-none {
  text-decoration: none !important;
}
a.underline-hover {
  text-decoration: none;
}
a.underline-hover:hover {
  text-decoration: underline;
}
a.underline-always {
  text-decoration: underline !important;
}
a.a6y-react-auth-link {
  letter-spacing: normal;
  font-size: .9rem;
  margin: 5px 0;
}
