.a6y-react-auth__form__link--primary {
  color: #2f5ef7;
  background: transparent;
  border: none;
}
.a6y-react-auth__form__link--secondary {
  color: #172232;
  background: transparent;
  border: none;
}
.a6y-react-auth__form__link {
  letter-spacing: normal;
  font-size: 12px;
  margin: 5px 0;
  cursor: pointer;
  text-decoration: underline;
  width: fit-content;
  font-family: inherit;
}
