.a6y-react-auth__sign-in,.a6y-react-auth__forgot-password,.a6y-react-auth__sign-up {
  padding: 2rem 1rem;
  max-width: 320px;
  margin: auto;
  box-shadow: 0 1px 10px 1px rgb(0 0 0 / 8%), 0 1px 2px -1px rgb(0 0 0 / 6%);
}